@font-face {
  font-family: "Grease Pencil";
  src: url("grease_pencilgrease_pencil.eot");
  src: url("grease_pencilgrease_pencil.eot?#iefix") format("embedded-opentype"),
    url("grease_pencilgrease_pencil.woff2") format("woff2"),
    url("grease_pencilgrease_pencil.woff") format("woff"),
    url("grease_pencilgrease_pencil.ttf") format("truetype"),
    url("grease_pencilgrease_pencil.svg#grease_pencilgrease_pencil")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaProBlack.eot");
  src: url("SofiaProBlack.eot?#iefix") format("embedded-opentype"),
    url("SofiaProBlack.woff2") format("woff2"),
    url("SofiaProBlack.woff") format("woff"),
    url("SofiaProBlack.ttf") format("truetype"),
    url("SofiaProBlack.svg#SofiaProBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-Bold.eot");
  src: url("SofiaPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("SofiaPro-Bold.woff2") format("woff2"),
    url("SofiaPro-Bold.woff") format("woff"),
    url("SofiaPro-Bold.ttf") format("truetype"),
    url("SofiaPro-Bold.svg#SofiaPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
