@font-face {
  font-family: "Grease Pencil";
  src: url("./style/fonts/grease_pencilgrease_pencil.eot");
  src: url("./style/fonts/grease_pencilgrease_pencil.eot?#iefix")
      format("embedded-opentype"),
    url("./style/fonts/grease_pencilgrease_pencil.woff2") format("woff2"),
    url("./style/fonts/grease_pencilgrease_pencil.woff") format("woff"),
    url("./style/fonts/grease_pencilgrease_pencil.ttf") format("truetype"),
    url("./style/fonts/grease_pencilgrease_pencil.svg#grease_pencilgrease_pencil")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./style/fonts/SofiaProBlack.eot");
  src: url("./style/fonts/SofiaProBlack.eot?#iefix") format("embedded-opentype"),
    url("./style/fonts/SofiaProBlack.woff2") format("woff2"),
    url("./style/fonts/SofiaProBlack.woff") format("woff"),
    url("./style/fonts/SofiaProBlack.ttf") format("truetype"),
    url("./style/fonts/SofiaProBlack.svg#SofiaProBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./style/fonts/SofiaPro-Bold.eot");
  src: url("./style/fonts/SofiaPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./style/fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("./style/fonts/SofiaPro-Bold.woff") format("woff"),
    url("./style/fonts/SofiaPro-Bold.ttf") format("truetype"),
    url("./style/fonts/SofiaPro-Bold.svg#SofiaPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.sofia-pro-black {
  font-family: "Sofia Pro";
  font-weight: 900;
  font-style: normal;
}
.sofia-pro-bold {
  font-family: "Sofia Pro";
  font-weight: bold;
  font-style: normal;
}
.grease-pencil {
  font-family: "Grease Pencil";
  font-weight: normal;
  font-style: normal;
  color: black;
}
